a{
    color: #7289da;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
}
body{
background-color: #2c2f33;

}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color:#99aab5 ;
}

#container1{
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 25px;
    padding: 50px;
    background-color: #545a63 ;
}

#container2{
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px;


}
p{
font-family: Arial, Helvetica, sans-serif;
color: #99aab5;


}